input { 
    text-align: center; 
}

.bg-gray{
    background-color: gray;
}

.display-nascosto{
    display: none !important;
}

.display-visibile{
    display: block !important;
}

.h-150px{
    height: 150px;
}