input { 
    text-align: center; 
}

.bg-gray{
    background-color: gray;
}

.display-nascosto{
    display: none !important;
}

.display-visibile{
    display: flex !important;
    border: 1px solid black;
}

.display-visibile-testo{
    display: block;
    text-align: center;
}

.h-150px{
    height: 150px;
}

.bg-esercizio{
    background-color: #b01748;
}
